.promo {
    margin-bottom: 63px;
}

.promo__content {
    border-radius: 59px;
    border-color: #F4F6F5;

    display: flex;
    column-gap: 24px;
    padding-top: 68px;
    padding-left: 120px;

}

.promo__title {
    min-width: 480px;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.25;
}

.promo__desc {
    font-weight: 400;
    font-style: 32px;
    line-height: 1.5;
    letter-spacing: -0.05em;
}

.promo__btn-wrapper {
    display: flex;
    column-gap: 34px;
    align-items: center;
}

.promo__btn-wrapper::before {
    content: "";
    display: inline-block;
    width: 190px;
    height: 32px;
    background-image: url(./../../img/icons/decor-yellow.svg);

}


.promo__btn {
    padding: 18px 40px;

    background-color: #000000;
    border-radius: 10px;

    font-weight: 500;
    font-size: 30px;
    line-height: 1.5;

    letter-spacing: -0.05em;
    color: #fff;

}

.highlight {
    position: relative;
}

.highlight::before {
    content: "";
    display: block;
    position: absolute;

}